html {
	background-color: white;
}

header{
	background: url("../images/photography.png");
	background-size: cover;
	/*To prevent there being any repeat appearance of the image*/
	height: 100vh;
	width: 100%;
	display: flex;
	/*If there are mutltiple lines, it will make them align in a column*/
	flex-direction: column;
	 /*Places the text in the center of the header*/
	justify-content: center;
	/*Places the items in the center vertically*/
	text-align: center;
	margin-bottom: 0px;
}

header a:link{
	display: inline-block;
	background-color: grey;
	color: white;
	border-radius: 5px;
	padding: 10px;
}

header a:visited{
	color: white;
	text-decoration: none;
}

header a:hover{
	opacity: 0.8;
	/*color: rgb(243,255,255);*/
}

header h1,h2, h3{
	color: rgb(233,233,233); 
}

body{
	background-color: white;
	font-family: 'Raleway';
	margin: 0px 0px 0px 0px;
	/*Fade Effect*/
	opacity: 1;
	transition: 1s opacity;
}

/* body.fade-out{
	opacity: 0;
	transition: none;
} */

p{
	text-align:center;
	font-size: 20px;
}

a:link{
	text-decoration: none;
	display: inline-block;
}

nav ul{
	visibility:visible;
}

@media only screen and (max-width: 700px){
	nav{visibility: visible;}
}

h1{
	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}

div, h1{
	color: white;
}

img{
	align-content: center;
	width: 300px;
	height: 300px;
	max-height: 500px;
	max-width: 500px;
	position: relative;
}

img:hover{
	opacity: 50%;
}

footer{
	color: rgb(229,228,221);
	font-family: Helvetica;
	text-align: center;
	background: rgb(69,69,69);

	/*Sticky Footer*/
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 20px;
	margin: 0px auto;
	padding-top: 10px;

}

footer img{
	width: 32px;
	height: 32px;
}

footer a:link{
	font-weight: lighter;
	color: white;
	opacity: 0.7;
	margin-right: 10px;
}

footer a:hover{ 
	opacity: 1;
}

footer a:visited{
	color: white;
}

/*Class*/
.navBar{
	overflow: hidden; /*Hides contents that extends beyong the box*/
	position: fixed;
	width: 100%;
	font-family: 'Raleway:500', sans-serif;
	/*background-color: black;
	z-index: 1;*/
}

.navBar ul{
	list-style-type: none; /*Removes the bullets in a list*/
	padding: 0;
	margin: 0;
}

.navBar ul li{
	display: inline;
}

.navBar ul li a{
	display: block;
	border-radius: 0px;
	color: grey;
	text-align: center;
	padding: 14px 16px; /*top bottom are 14px left right are 16px*/
	text-decoration: none; /*removes underline*/
	font-size: 16px;
}

.navBar a:hover{
	color: rgb(247,255,251);
}

.navBar a:active{
	color: rgb(247,255,251);
}

.aboutMe{
	background-color: grey;
	text-align: center;
	padding: 60px 200px 60px 200px;
	font-family: 'Raleway';
	margin: 0px auto;
	word-wrap: break-word;
}

.aboutMe h2{
	font-weight: lighter;
}

.aboutMe p{
	font-size: 16px;
	margin: 0px 30px 0px 30px;
	font-weight: lighter;
	text-align: center;
	vertical-align: top;
	word-wrap: break-word;
}

.contactme{
	font-size: 25px;
}

.sec2{
	/* background: rgb(120,120,120); */
	text-align: center;
	padding-top: 60px;
	/*padding: 1px;*/
	margin: 0px auto;
	padding-bottom: 30px;
	color: black
}

.sec2 h1{
	color: black;
}

.sec2 a:hover{
	opacity: 0.8;
}

.sec3{
	/* background: black; */
	text-align: center;
	padding: 1px;
	margin: 0px auto;
	padding: 60px 0px 60px 0px; 
	word-wrap: break-word;
	color:black;
}

.sec3 a:hover{
	opacity: 0.9;
}

.sec3 h1{
	font-size: 40px;
	line-height: 20px;
}

.sec4{
	/* background-color: rgb(69,69,69); */
	text-align: center;
	padding: 1px;
	margin: 0px auto;
	padding: 60px 40px 30px 40px;
	word-wrap: break-word;
	color: black;
}

.sec4 a:hover{
	opacity: 0.9;

}

/*.sec4 > p{
	padding-left: 60px;
	padding-right: 60px;
}*/


/*ID*/

#quoteWrap{
	padding-left: 400px;
	padding-right: 400px;
}


#container1{ /*Tiles*/
	display: inline-block;
	vertical-align: top;
	text-align: justify-all;
	width: 300px;
	margin: 0px 20px 0px 20px;
	color: black;
}

#container1 h3 {
	color: black 
}

@media only screen and (max-width: 600px) {
    img{
		align-content: center;
		width: 200px;
		height: 200px;
		position: relative;
	}
	
	.aboutMe, .sec3, .sec4 {
		padding: 60px 10px 60px 10px;
	}

	#container1 {
		width: 80vw;
	}

	#container2 > a{
		color: black;
		padding: 10px;
		text-align: center;
		border-radius: 20px;
		border-style: none;
		width: 1000px;
		background-color: grey;
		display: inline-block;
	}

	header h1, h2 {
		font-size: 5vw;
	}
}

#container2{ 
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

#container2 > a{
	color: black;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	border-style: none;
	width: 100px;
	background-color: grey;
	display: inline-block;
}

#container3{ /*Tiles*/
	display: inline-block;
	vertical-align: top;
	text-align: justify-all;
}

#aboutMeH1{
	font-size: 35px;
	font-family: 'Raleway';
}

#h2Font{
	font-family: 'Raleway';
	font-size: 35px;
	color: black;
}

#bigtext{
	color: white;
	text-align: center;
	padding: 100px;
	margin-bottom: 0px;
}

#bgText{
	background: lightgrey;
}


#homeimage{
	background-color: lightgrey;
}

#description {
	font-size: 18px;
	word-wrap: break-word;
	text-align: justify;
}

#rightspacing{
	margin-right: 20px;
}

#justifyText{
	text-align: justify;
}