/* HTML CSS */
body{
	font-family: 'Raleway';
	text-align: center;
	color: white;
	background-color: rgb(255,255,255);
	padding: 0;
	margin: 0;
	display: relative;
}

a{
	text-decoration: none;
	font-size: 20px;
	color: rgb(224,229,229);
	cursor: default;
}

a:hover{
	color: rgb(249,255,254);
}

footer{
	color: rgb(229,228,221);
	font-family: Helvetica;
	text-align: center;
	background: rgb(69,69,69);

	/*Sticky Footer*/
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 20px;
	margin: 0px auto;
	padding-top: 10px;
}

footer img{
	width: 32px;
	height: 32px;
}

footer a:link{
	font-weight: lighter;
	color: white;
	opacity: 0.7;
	margin-right: 10px;
}

footer a:hover{ 
	opacity: 1;
}

footer a:visited{
	color: white;
}

/* ID */
#projectBody{
	margin-top: 60px;
}

#contact{
	font-family: 'Raleway';
	font-size: 35px;
	color: black;
}

/* Classes */
.projectCells {
	text-align: center;
	align-content: center;
	margin-top: 10px;
}

.projectCell {
	width: 500px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
	padding: 50px;
	margin: 10px;
}


.projectCell img{
	width: 300px;
	height: 550px;
}

.projectCell-overlay{
	width: 500px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	color: black;
}

.projectCell-overlay p {

	text-align: justify;
}


.projectCell-overlay:hover img {
	color: dimgray;
	width: 340px;
	height: 600px;
}

.projectCellWeb {
	background-color: white;
	color: black;
	height: 500px;
	width: 700px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	margin: 10px;
}

.projectCellWeb:hover {
	background-color: dimgrey;
}

.projectCellWeb:hover .description{
	color: white;
}

.projectCellWeb img{
	width: 400px;
	height: 300px;
}

.projectCellWeb-overlay{
	width: 700px;
	height: 500px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}

.projectTypeName {
	padding: 10px 0px 10px 0px;
	margin: 0px;
	background-color: rgb(245, 245, 245);
	color: black
}

/* Mobile */

@media only screen and (max-width: 600px) {
    
}

/* Nav Bar */
.navBar{
	overflow: hidden; /*Hides contents that extends beyong the box*/
	position: fixed;
	width: 100%;
	height: 50px;
	font-family: 'Raleway:500', sans-serif;
	/*background-color: black;
	z-index: 1;*/
}

.navBar ul{
	list-style-type: none; /*Removes the bullets in a list*/
	padding: 0;
	margin: 0;
	float: right;
}

.navBar ul li{
	display: inline;
	float: left;
}

.navBar ul li a{
	display: block;
	border-radius: 0px;
	color: grey;
	text-align: center;
	padding: 14px 16px; /*top bottom are 14px left right are 16px*/
	text-decoration: none; /*removes underline*/
	font-size: 16px;
}

.navBar a:hover{
	color: rgb(247,255,251);
}

.navBar a:active{
	color: rgb(247,255,251);
}
