body{
	font-family: 'Raleway';
    text-align: center;
	color: white;
	background-color: rgb(255,255,255);
	padding: 0;
	margin: 0;
	display: relative;
}

a{
	text-decoration: none;
	font-size: 20px;
	color: rgb(224,229,229);
	cursor: default;
}

a:hover{
	color: rgb(249,255,254);
}

div > h4, h5 {
    color: black;
    ;
}

div > p {
    color: black;
}

/* ID */


#service_title {
    margin-left: 5em;
    margin-right: 5em;
    padding-bottom: 30px;
}

#service_title > img{
    width: 30%;
}

#service_title > ul {
    margin-left: 20vw;
    margin-right: 20vw;
    color: black;
}

#service_title > a{
    color: black;
    background-color: gray;
    padding: 10px;
    border-radius: 8px;
}

/* Mobile */

@media only screen and (max-width: 600px) {
    
    #service_title > img{
        width: 100%;
    }

    #service_title {
        margin-left: 1em;
        margin-right: 1em;
    }
}

footer{
	color: rgb(229,228,221);
	font-family: Helvetica;
	text-align: center;
	background: rgb(69,69,69);

	/*Sticky Footer*/
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 20px;
	margin: 0px auto;
	padding-top: 10px;
}

footer img{
	width: 32px;
	height: 32px;
}

footer a:link{
	font-weight: lighter;
	color: white;
	opacity: 0.7;
	margin-right: 10px;
}

footer a:hover{ 
	opacity: 1;
}

footer a:visited{
	color: white;
}