header{
	background: url("images/headImage4.jpg");
	background-size: cover;
	/*To prevent there being any repeat appearance of the image*/
	height: 100vh;
	width: 100%;
	display: flex;
	/*If there are mutltiple lines, it will make them align in a column*/
	flex-direction: column;
	 /*Places the text in the center of the header*/
	justify-content: center;
	/*Places the items in the center vertically*/
	text-align: center;
	margin-bottom: 0px;
}

header a:link{
	display: inline-block;
	background-color: grey;
	color: white;
	border-radius: 5px;
	padding: 10px;
}

header a:visited{
	color: white;
	text-decoration: none;
}

header h1{
	color: rgb(214,214,214); 
}

body{
	background-color: white;
	font-family: 'Raleway';
	margin: 0px 0px 0px 0px;
}

/*nav select{
	display: none;
}*/

@media (max-width: 800px) {
	nav ul {display: none;}
	nav select {display: inline-block;}
}

p{
	text-align:center;
	font-size: 20px;
}

nav{
	align-content: center;
}

a:link{
	text-decoration: none;
	display: inline-block;
}

h1{
	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}

div, h1{
	color: white;
}

img{
	align-content: center;
	width: 300px;
	height: 300px;
	max-height: 500px;
	max-width: 500px;
	position: relative;
}

img:hover{
	opacity: 50%;
}

footer{
	color: rgb(229,228,221);
	font-family: Helvetica;
	text-align: center;
	background: rgb(120,120,120);

	/*Sticky Footer*/
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 20px;
	margin: 0px auto;
	padding-top: 10px;

}

footer img{
	width: 32px;
	height: 32px;
}

footer a:link{
	font-weight: lighter;
	color: black;
	opacity: 1;
	margin-right: 10px;
}

footer a:hover{ 
	opacity: 0.8;
}

footer a:visited{
	color: black;
}

/*Class*/

.navBar{
	overflow: hidden; /*Hides contents that extends beyong the box*/
	position: fixed;
	width: 100%;
	height: 50px;
	font-family: 'Raleway:500', sans-serif;
	/*background-color: black;
	z-index: 1;*/
}

.navBar ul{
	list-style-type: none; /*Removes the bullets in a list*/
	padding: 0;
	margin: 0;
	float: right;
}

.navBar ul li{
	display: inline;
	float: left;
}

.navBar ul li a{
	display: block;
	border-radius: 0px;
	color: grey;
	text-align: center;
	padding: 14px 16px; /*top bottom are 14px left right are 16px*/
	text-decoration: none; /*removes underline*/
	font-size: 16px;
}

.navBar a:hover{
	color: rgb(247,255,251);
}

.navBar a:active{
	color: rgb(247,255,251);
}

.aboutMe{
	background-color: black;
	text-align: center;
	padding: 20px;
	padding-left: 90px;
	padding-right: 90px; 
	font-family: 'Raleway';
	margin: 0px auto;
	word-wrap: break-word;
	padding-right: 40px;
	padding-left: 40px;
}

.aboutMe h2{
	font-weight: lighter;
}

.aboutMe p{
	font-size: 15px;
	font-weight: lighter;
}

.contactme{
	font-size: 25px;
}

.sec2{
	background: rgb(120,120,120);
	text-align: center;
	padding: 1px;
	margin: 0px auto;
	padding-bottom: 30px;
}

.sec2 h1{
	color: white;
}

.sec3{
	background-color: black;
	text-align: center;
	margin: 0px auto;
	padding: 1px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	word-wrap: break-word;
}

.sec3 a{
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	margin-left:  40px auto;
	border-style: none;
	background-color: grey;
	display: inline-block;
}

.sec4{
	background: rgb(69,69,69);
	text-align: center;
	padding: 1px;
	margin: 0px auto;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	word-wrap: break-word;
}

.sec4 h1{
	font-size: 40px;
	line-height: 20px;

}

/*ID*/

#container1{ /*Tiles*/
	display: inline-block;
	vertical-align: top;
	text-align: justify-all;
	width: 300px;
}

#container2{ 
	display: inline-block;
	/*border-style: dotted;*/
	vertical-align: top;
	text-align: justify-all;
}

#aboutMeH1{
	font-size: 35px;
	font-family: 'Raleway';
}

#h2Font{
	font-family: 'Raleway';
	font-size: 35px;
}

#thankyou{
	font-size: 25px;
}

#bigtext{
	color: white;
	text-align: center;
	padding: 100px;
	margin-bottom: 0px;
}

#bgText{
	background: lightgrey;
}


/*#navBar{
	display: inline;
	float: left;
	padding: 8px;
	text-align: center;
}*/

#homeimage{
	background-color: lightgrey;
}

#description {
	font-size: 13px;
	word-wrap: break-word;
}