body{
	background-color: rgb(23,118,255);
	background-position: center;
	font-family: 'Raleway';
	color: rgb(249,255,248);
}

h1{
	color:white;
	text-align: center;
}
h2{
	color: white;
	text-align: center;
}

nav{
	text-align: center;
	color: #FFFFFF;
}

img{
	position: relative;
	width: 200px;
	height: 200px;
}

ul{
	/*text-align: center;
	color: #FFFFFF;
	text-align: margin-left;*/
	list-style-type: none;
	margin: 0;
	padding: 0; 
}

h3{
	color: white;
}

p{
	font-size: 15px;
	font-family: "Raleway";
}

li{
	text-align: center;
	padding-left: 20px
	<!--position: relative;-->
}

header{
	/*background-color: red;*/
}



.photography{
	max-width= 100%;
}

.photography:hover{
	cursor: pointer;
	height: 550;
	width:550;
}
